.centrado{
  text-align: center;
  width: 100%;
}
.icono{
  font-size: 50px;
}

.bajada{
  color: gray;
  margin: 15px 15px;
  text-align: center;
  width: 100%;
}
.contenedor{
  position: absolute;
  top: 40%;
}

.contenedor-info{
  position: absolute;
  top: 10%;
}
