<ion-content padding>
  <div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  </div >
  <ion-grid>
    <ion-row class="logo-container">
      <ion-col size="12">
        <ion-img style="margin-top: 90px;" src="assets/banner1.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="usuario" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="background-opacity">
          <div class="texto-centrado">
            <h3>Iniciar Sesión</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label color="primary-contrast" position="floating">Correo</ion-label>
              <ion-input formControlName="correo" type="email" placeholder="tu@correo.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary-contrast" position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password" placeholder="********" ngModel required></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="isError">
              <ion-label style="color:#eb445a; font-size: 12px;">usuario o contraseña erronea</ion-label>
            </ion-item>
          </div>
          <div padding>
            <ion-button (click)="login()" class="ion-text-capitalize" size="default" type="submit" expand="block">Ingresar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-row class="bloque">
    <div>
      Si no tienes una cuenta <a routerLink='/registro'>regístrate</a>
    </div>
  </ion-row>
</ion-content>
