.texto-centrado{
  text-align: center;
}
.imagen{
  width: 70%;
  height: auto;
}
.icono{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.slide-container{
  width: 90%;
  height: 200px;
}
img{
  border-radius: 10px;
}
.marcas-destacadas{
  width: 120px;
  height: auto;
}
.new-background-color{
  --background: #FFE4F3;
}
