.texto-centrado {
  text-align: center;
}
.imagen {
  width: 70%;
  height: auto;
}
.icono {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.slide-container {
  width: 90%;
  height: 150px;
  margin-top: 20px;
}
img {
  border-radius: 10px;
}
.marcas-destacadas {
  width: 120px;
  height: auto;
}
.new-background-color {
  --background: #ffe4f3;
}
ion-badge {
  position: absolute;
  right: 10px;
  padding: 3px 6px;
  border-radius: 10px;
  top: 25px;
}
