<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="resumen()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="ofertas()">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Catálogo</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="ayuda()">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>En tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-toolbar>
        <ion-buttons slot="start" >
          <ion-menu-button menu="main-menu" autoHide="false" menuClose>
            <ion-icon class="menu-icon" name="ellipsis-horizontal"></ion-icon>
            <ion-label class="menu-label">Más</ion-label>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
