.menu-icon{
  width: 20px;
  position: absolute;
  display: block;
  margin-top: -15px;

  color: #666666;
}
.menu-label{
  font-size: 12px;
  color: #666666;
  font-family: inherit;
  margin-top: 23px;
}
