<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tu carrito
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="contenedor" [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-icon class="centrado icono" name="cart-outline"></ion-icon>
  </ion-row>
  <ion-row>
    <ion-label class="bajada">En este momento no tienes productos agregados.</ion-label>
  </ion-row>
  <ion-row style="margin-top: 10px;">
    <ion-label class="centrado"><a routerLink='/home/tabs/ofertas'>Ir a la tienda</a></ion-label>
  </ion-row>
</ion-content>
