<ion-content padding>
  <div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  </div >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="background-opacity">
          <div class="texto-centrado">
            <h2>¡Registro Exitoso!</h2>
          </div>
          <div>
            <ion-item class="texto-centrado">
              <ion-label color="primary-contrast">Ahora puedes iniciar sesión</ion-label>
            </ion-item>
          </div>
          <div>
            <ion-button routerLink='/login' class="ion-text-capitalize" size="default" expand="block">Iniciar Sesión</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
