<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catálogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="centrado" *ngFor="let producto of productos">
    <img class="image-size" src="{{producto.image}}" />
    <ion-card-header>
      <ion-card-subtitle>${{producto.price}}.000</ion-card-subtitle>
      <ion-card-title>{{producto.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="justificado">
      {{producto.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
