.image-size{
  width: 90%;
  height: 130px;
}
.centrado{
  text-align: center;

}
.justificado{
  text-align: justify;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ion-badge{
  position: absolute;
  right: 10px;
  padding: 3px 6px;
  border-radius: 10px;
  top: 22px;
}
